.Contact{
  
}

#contactForm{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex; 
    flex-direction: column;
    box-sizing: border-box;
}

#msg{
    height: 50px;
    padding: 5px;
}