.Card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    /* padding: 30px; */
    width:300px;
  }
  
  .Card > h4,
  h5 {
    background-color: var(--background-color);
    text-align: left;
    position: relative;
    font-size: 25px;
    padding-left: 10px;
    bottom: 90px;
    width: 30%;
  }