.Footer {
    background-color: #A7C7E7;
    display: flex;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    /* justify-content: space-around; */
    justify-content: center;
  }

  .Footer > a {
    color:black;
    padding-right: 10px;
  }
